<p id="notice"><%= notice %></p>

<h1>Tovars</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tovars.each do |tovar| %>
      <tr>
        <td><%= tovar.name %></td>
        <td><%= link_to 'Show', tovar %></td>
        <td><%= link_to 'Edit', edit_tovar_path(tovar) %></td>
        <td><%= link_to 'Destroy', tovar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tovar', new_tovar_path %>
