<p id="notice"><%= notice %></p>

<h1>Товары</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Наименование</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tovars.each do |tovar| %>
      <tr>
        <td><%= tovar.name %></td>
        <td><%= link_to 'Просмотреть', tovar %></td>
        <td><%= link_to 'Редактировать', edit_tovar_path(tovar) %></td>
        <td><%= link_to 'Удалить', tovar, method: :delete, data: { confirm: 'Подтвердить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить', new_tovar_path, :class => "btn btn-primary" %>
