<p id="notice"><%= notice %></p>

<p>
  <strong>Товар:</strong>
  <%= @alternative.tovar.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @alternative.url %>
</p>

<p>
  <strong>Xpath:</strong>
  <%= @alternative.xpath %>
</p>

<p>
  <strong>Значение:</strong>
  <%= @alternative.value %>
</p>


<%= link_to 'Редактировать', edit_alternative_path(@alternative) %> |
<%= link_to 'Назад', alternatives_path %>
